---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | 40ftSlinky" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="A unique creative with a LinkedIn profile that has a common theme: delusions of grandeur."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					
					<p>Led by Jeremy Nicholson founder and primary creative 40ftSlinky is a multi-disciplinary agency dedicated to partnering with individuals and organisations to help develop progressive brands and create multi-channel experiences that deliver results.</p>
					<p>We assemble unique teams from a diverse pool of expert collaborators, and respond flexibly to each brief without the hassle of a large agency.</p>
					<p>Jeremy has worked in Sydney, Melbourne and Canberra for more than 20 years across brand, digital product and print. He has experience in both private (agency land) and public (Australian Government departments and statutory bodies) sectors and serviced local and international clients developing brands, corporate identity, digital presence, applications, marketing materials and publications through his businesses and nom-de-plume (40ftSlinky, Blandmine and Bland Design).</p>
					<p>After spending the late '90s and early naughties in the publishing industry producing educational materials, marketing collateral and national advertising campaigns, Jeremy spent the next decade creating award-winning covers and layout for books as diverse as dictionaries, true-crime biographies, military histories, literary fiction and mass market fiction (including International Bestseller Matthew Reilly). The last decade has seen Jeremy branch into "ad-land," producing traditional advertising, marketing and brand design, art directing and designing campaigns and products for the education, energy, financial and healthcare sectors. His interest in all things digital has led to a pivot into digital product development, digital strategy and marketing. An experienced CX and UX designer and frontend developer with broad knowledge of industry standard CMS and CRM platforms, social marketing and digital platforms as well as the latest development trends – Jeremy is a true unicorn creative – comfortable in the print world and the digital realm.</p>
					<p>While able to troubleshoot almost anything, he also brings to the table: </p>
					<ul class="two_col">
						<li><p>creative and art direction</p></li>
						<li><p>identity design</p></li>
						<li><p>illustration and photography</p></li>
						<li><p>graphic design</p></li>
						<li><p>typography</p></li>
						<li><p>packaging</p></li>
						<li><p>finished art</p></li>
						<li><p>web design</p></li>
						<li><p>interface design</p></li>
						<li><p>communication solutions</p></li>
						<li><p>digital media</p></li>
						<li><p>production</p></li>
						<li><p>animation</p></li>
						<li><p>motion design</p></li>
						<li><p>print production and prepress… </p></li>
					</ul>
					<p>and the ability to understand a clients needs to develop the appropriate solution.</p><p>Anyway, enough about him - what about you? If you need a fulltime or contract creative able to produce a digital solution, develop a brand, marketing strategy, advertising campaign or design and produce an annual report - contact him:</p>
					<p><a href="mailto:hello@40ftslinky.com?Subject=Saying%20Hello">Say Hello</a>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Corporis voluptates tenetur laudantium.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>officia unde omnis</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.about p {
		margin-bottom:1rem;
	}

	@media (min-width: 50em) {
		.about {
			/* display: grid;
			grid-template-columns: 1fr 60% 1fr; */
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.two_col {
			columns: 2;
			margin-top: 1rem;
			margin-bottom: 2rem
		}
	}
</style>
